@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Arial;
}
#description_img{
    background-image: url("/public/pictures/forest.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: 50%;
}

/*  bg-gray-400/60 dark:bg-gray-700/70 */
.pictures{
    @apply shrink-0 w-96 h-48 rounded-10 shadow-2xl bg-white dark:shadow-xl dark:shadow-slate-800
}
#small_imgs::-webkit-scrollbar {
    @apply m-[3px] h-[6px] w-[100%] rounded-xl bg-transparent
}
#small_imgs::-webkit-scrollbar-track {
    @apply px-[3px] bg-white rounded-xl dark:bg-slate-800 
}
#small_imgs::-webkit-scrollbar-thumb {
    @apply rounded-xl h-[4px] bg-yellow-500
}